@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}


a{
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

/* pseudo classes */

a:visited{
    color: purple;
}

a:hover{
    color: green;
}

a:active{
    color: orange;
}

a:focus{
    color: red;
}


main{
    opacity: 0.8;
}