/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing:content-box;
}

/* h1{
    border: 2px dashed red ; 
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
} */

/* h1{
    border: 2px dashed red ; 
    width: 400px;
    font-size: 3rem;
    padding: 0.5em;
} */

/* .container{
    border: 2px dashed red ; 
    font-size: 1.5rem;
    padding: 1.5em; 
    margin: 1.5em;
} */

/* .container{
    border: 2px dashed red ; 
    font-size: 1.5rem;
    padding: 1.5em;
    margin-top: 1.5em;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 3em; 
} */


 /* .container{
    border: 2px dashed red ; 
    border-top: 5px solid;
    border-right: 10px solid;
    font-size: 1.5rem;
    padding: 1.5em;
    margin: 1.5em 2em 1.5em 2em; 
} */

/* .container{
    border: 2px dashed red ; 
    font-size: 1.5rem;
    padding: 1.5em;
    margin: 1.5em 2em 1.5em 2em; 
    outline: 2px solid rgb(0, 255, 64);
} */

.container{
    border: 2px dashed red ; 
    font-size: 1.5rem;
    padding: 1.5em;
    margin: 1.5em 2em 1.5em 2em; 
    outline: 2px solid rgb(0, 255, 64);
    outline-offset: 10px; 
}


.circle{
 margin: 3rem auto;
 width: 100px;
 height: 100px;
 border: 2px solid red;
 outline: 2px solid rgb(0, 255, 64);
 outline-offset: 0.25em;
}